.size{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1rem;
    align-items: center;
}

.size > img{
    --width:100px;
}

.size-small > img{
    /* --width:100px; */
    width: calc(var(--width)*0.8);
    }
    
    .size-middle > img{
        width: var(--width);
        }
    
    .size-large > img{
         width: calc(var(--width)*1.2);
    }